/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/

/* Global Styles */

/* Global Styles */

/* Registration Styles */
.custom-ontosoccer-register-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-register-shortcode div.iti {
    width: 100%;
}
.custom-ontosoccer-register-shortcode .mobile-number {
    padding-right: 6px !important;
    padding-left: 52px !important;
}
.custom-ontosoccer-register-shortcode .text-muted.mobile-number {
    padding-left: 0px !important;
}
.custom-ontosoccer-register-shortcode li.iti__country {
    list-style: none;
}
.custom-ontosoccer-register-shortcode li.iti__divider {
    list-style: none;
}
.custom-ontosoccer-register-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
.custom-ontosoccer-register-shortcode .iti__flag {background-image: url("../img/flags.png");}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .custom-ontosoccer-register-shortcode .iti__flag {background-image: url("../img/flags@2x.png");}
}
/* Registration Styles */

/* Login Styles */
.custom-ontosoccer-login-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-login-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
/* Login Styles */

/* Validate Email Styles */
.custom-ontosoccer-validate-email-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-validate-email-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
/* Validate Email Styles */

/* Change Password Styles */
.custom-ontosoccer-change-password-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-change-password-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
/* Change Password Styles */

/* Profile Edit Styles */
.custom-ontosoccer-profile-edit-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-profile-edit-shortcode div.iti {
    width: 100%;
}
.custom-ontosoccer-profile-edit-shortcode .mobile-number {
    padding-right: 6px !important;
    padding-left: 52px !important;
}
.custom-ontosoccer-profile-edit-shortcode .text-muted.mobile-number {
    padding-left: 0px !important;
}
.custom-ontosoccer-profile-edit-shortcode li.iti__country {
    list-style: none;
}
.custom-ontosoccer-profile-edit-shortcode li.iti__divider {
    list-style: none;
}
.custom-ontosoccer-profile-edit-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
.custom-ontosoccer-profile-edit-shortcode .iti__flag {background-image: url("../img/flags.png");}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .custom-ontosoccer-profile-edit-shortcode .iti__flag {background-image: url("../img/flags@2x.png");}
}
/* Profile Edit Styles */

/* Forgot Password Styles */
.custom-ontosoccer-forgot-password-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-forgot-password-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
/* Forgot Password Styles */

/* Profile Edit Styles */
.custom-ontosoccer-contact-us-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-contact-us-shortcode textarea.form-control {
    height: auto !important;
}
.custom-ontosoccer-contact-us-shortcode div.iti {
    width: 100%;
}
.custom-ontosoccer-contact-us-shortcode .mobile-number {
    padding-right: 6px !important;
    padding-left: 52px !important;
}
.custom-ontosoccer-contact-us-shortcode .text-muted.mobile-number {
    padding-left: 0px !important;
}
.custom-ontosoccer-contact-us-shortcode li.iti__country {
    list-style: none;
}
.custom-ontosoccer-contact-us-shortcode li.iti__divider {
    list-style: none;
}
.custom-ontosoccer-contact-us-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
.custom-ontosoccer-contact-us-shortcode .iti__flag {background-image: url("../img/flags.png");}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .custom-ontosoccer-contact-us-shortcode .iti__flag {background-image: url("../img/flags@2x.png");}
}
/* Profile Edit Styles */

/* Add Testimonial Styles */
.custom-ontosoccer-add-testimonial-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-add-testimonial-shortcode textarea.form-control {
    height: auto !important;
}
.custom-ontosoccer-add-testimonial-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
.custom-ontosoccer-add-testimonial-shortcode div.iti {
    width: 100%;
}
.custom-ontosoccer-add-testimonial-shortcode .mobile-number {
    padding-right: 6px !important;
    padding-left: 52px !important;
}
.custom-ontosoccer-add-testimonial-shortcode .text-muted.mobile-number {
    padding-left: 0px !important;
}
.custom-ontosoccer-add-testimonial-shortcode li.iti__country {
    list-style: none;
}
.custom-ontosoccer-add-testimonial-shortcode li.iti__divider {
    list-style: none;
}
.custom-ontosoccer-add-testimonial-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
.custom-ontosoccer-add-testimonial-shortcode .iti__flag {background-image: url("../img/flags.png");}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .custom-ontosoccer-add-testimonial-shortcode .iti__flag {background-image: url("../img/flags@2x.png");}
}
/* Add Testimonial Styles */

/* Validate Subscription Styles */
.custom-ontosoccer-validate-subscription-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-ontosoccer-validate-subscription-shortcode .text-muted {
    display: none;
    color: #dc3545 !important;
}
/* Validate Subscription Styles */

/* Match Fixtures Styles */
.custom-ontosoccer-week-fixtures-shortcode .alert.alert-danger {
    display: none;
}
.custom-ontosoccer-week-fixtures-shortcode .alert.alert-success {
    display: none;
}
/* Match Fixtures Styles */

/* Global Styles For Subscription */
.subscription-alert {
    display: none;
}
.subscription-alert.alert-success {
    background-color: #007E33;
    color: white;
    border-color:#007E33;
    font-weight: bold;
}
.subscription-alert.alert-danger {
    background-color: #CC0000;
    color: white;
    border-color:#CC0000;
    font-weight: bold;
}
/* Global Styles For Subscription */

/* Global Styles For Buttons */
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #ffb118 !important;
    border-color: #ffb118 !important;
    font-weight: bold !important;
    padding: 7px 22px !important;
    color: #ffffff !important;
    letter-spacing: 1px !important;
}
.btn-primary:hover {
    background-color:#095bab !important;
    border-color:#095bab !important;
}
.moverspackers-widget-heading {
    float: inherit !important;
}
/* Global Styles For Buttons */