/**
* All of the CSS for your admin-specific functionality should be
* included in this file.
*/

.custom-ontosoccer-settings-table select {
    width: 100%;
}
.datatable th {
    text-align: left;
    padding-left: 10px !important;
}
#custom-ontosoccer-match-data .first-column {
    width: 10rem;
}
#custom-ontosoccer-match-data .wd100 {
    width: 100%;
}
.badge {
    display: inline-block;
    padding: .3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.alert-info {
    line-height: 1.4;
    padding: 11px 15px;
    font-size: 14px;
    margin: 25px 20px 0 2px;
    background: #fff;
    border: 1px solid #989ea3;
    border-left-color: lightskyblue;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}